.header-blog {
    height: 130px;
    padding-left:10px;
}
.title-blog {
    margin-top: 20px;
    font-size:30px;
}
.header-blog a {
    text-decoration: none;
}
.linkmanagerblog {
    float: right;
    padding-right: 50px;
    margin-top: 20px;
}
#col-5{
    margin-top:-15px;
}
#searchblog{
    display:flex;
}
.count{
    margin-top:10px;
}
.search-container {
    margin-left: 30px;
}
.search-container button:hover {
    background: #ccc;
}
.search-container button {
    float: right;
    padding: 6px 10px;
    margin-right: 16px;
    background: #ddd;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.zerodata{
    /*background-color:white;*/
    min-height:80%;
    text-align:center;
}
.zerodata a{
    text-decoration:none;
}
.zerodataimage img {
    width: 256px;
    height:256px;
}