.header-blog {
    height: 50px;
    padding-left: 10px;
}

.title-blog {
    margin-top: 20px;
    font-size: 30px;
}

.body-detail {
    /*background-color: white;*/
    min-height: 80%;
}
#bodydetail{
    padding-top:20px;
    padding-left:10%;
}
.contentblog {
    padding-left: 11%;
}
