.form {
    font-size: 1em;
    max-width: 100%;
    position: relative;
}

.segment {
    padding: 0 10px;
    border-width: 0;
    margin: 0;
    width: auto;
    box-shadow: none;
    border: none;
}

    .segment:last-child {
        top: 0px;
        bottom: 0px;
        border-radius: 0 0 .28571429rem .28571429rem;
    }

input {
    font-family: inherit !important;
    line-height: 1 !important;
    color: inherit;
    font: inherit;
    margin: 0;
}

.top {
    display: flex;
    flex-direction: row;
}

.center {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.right{
    width:50%
}

.them {
    background-color: #3498db;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 20px;
    margin-left: 400px;
}

    .them:hover {
        background-color: #2980b9;
        color: white;
    }


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}


.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

.title:hover {
    color: #3498db;
}
