.form {
    font-size: 1em;
    max-width: 100%;
    position: relative;
}

.segment {
    padding: 0 10px;
    border-width: 0;
    margin: 0;
    width: auto;
    box-shadow: none;
    border: none;
}

    .segment:last-child {
        top: 0px;
        bottom: 0px;
        border-radius: 0 0 .28571429rem .28571429rem;
    }

input {
    font-family: inherit !important;
    line-height: 1 !important;
    color: inherit;
    font: inherit;
    margin: 0;
}

.top {
    display: flex;
    flex-direction: row;
}

.center {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    border-top-style: outset;
    margin-top: 15px;
}

.right {
    width: 50%
}


.star-sign {
    margin-top: -0.2em;
    margin-left: 0.2em;
    color: #DB2828;
}

#col-8 {
    text-align: center;
    margin-top: 20px;
    color:white
}

.lab {
    background-color: gray;
    padding: 3px 1px;
    color: white;
}

.email {
    line-height: 1.2;
    margin-top: 5px;
    color: red;
    font-size: 11px;
}

.top {
    margin-top: 10px;
}

.left {
    width: 30%;
}
