
.column {
    width: 100%;
    padding: 0 10px;
    margin-bottom: 20px
}

.row {
    margin: 0 -5px;
}

.card1 {
    display: flex;
    margin-top:15px
}
.card2 {
    display: flex;
    margin-top: 10px
}

.card{
    background-color: #f8f9fc;
    padding: 16px;
    margin-bottom:25px
}
