#col-8 {
    color: white;
    margin-left: 25px;
}

.btn-choose {
    height: 38px;
    font-size: 14px;
    border-radius: inherit;
    background-color: #bdb9b9;
    color: white;
}

    .btn-choose:hover {
        color: white;
        background-color: darkgray
    }

.brown {
    background-color: #ac725e;
    color: white
}

.labels {
    background: none;
    width: 100px
}
