.fields {
    display: flex;
    flex-direction: row;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
}

.them {
    background-color: #3498db;
    border: none;
    color: white;
    padding: 10px 30px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 20px;
}

    .them:hover {
        background-color: #2980b9;
        color: white;
    }

.form-control {
    width: 50%;
}

.title:hover {
    color: #3498db;
}


.bottom {
    border-top-style: outset;
    margin-top: 20px;
    background-color: #f8f8f8;
    height: 100px;
}

.add {
    margin-top: -30px;
    margin-left: 370px;
}
.btn-choose {
    height: 38px;
    font-size: 14px;
    border-radius: inherit;
    background-color: #bdb9b9;
    color: white;
}
    .btn-choose:hover {
        color: white;
        background-color:darkgray
    }
