.btn {
    border: none;
    color: white;
    padding: 7px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}


.edit {
    padding-right: 5px;
    padding-left: 5px;
    text-decoration: none;
}

.delete {
    padding-right: 5px;
    padding-left: 5px;
    text-decoration: none
}

.asc:hover {
    background-color: #333;
    color: white;
}

.btn-primary {
    background-color: #aad8f7;
    color: white;
    padding: 5px 20px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 20px;
}

    .btn-primary:hover {
        background-color: #aad8f7;
    }

.bg-teal-active {
    background-color: #2196F3 !important;
}

.btn-default {
    background-color: #fdfbfb;
    border: none;
    color: #1c1c1c;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}

    .btn-default:hover {
        background-color: #fdfbfb;
    }

.title:hover {
    color: #3498db;
}

.clo {
    color: #9e9e9e;
    font-size: 12px;
}

.btn-primary {
    vertical-align: middle;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 1em;
}

.dropdown-toggle {
    padding-right: 30px;
    color: black;
    cursor: pointer;
    margin-left: 20px;
}

.search {
    background-color: #2185D0;
    color: #FFF;
    border: none;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    padding: .78571429em 1.5em;
    margin: 0 .25em 0 0;
    width: 100%;
    border-radius: 20px;
}
