.container-fluid-1 {
    margin-top: -34px;
    margin-left: 380px;
}
.ls {
    margin-left: 15px;
}
.container-1 {
    display: inline-flex;
    padding-left: 500px;
    padding-top: 20px;
}
.wait {
    background-color: #E8E8E8 !important;
    padding: 5px 20px;
    font-size: 12px;
}
#myDIV {
    display: none;
    margin: 10px 300px 0px 20px;
    width: 97%
}
.fa-times {
    display: inline-block;
    padding: 3px;
    float: right;
    padding: 5px;
    color: #007eff
}
.pend {
    background-color: gainsboro;
    color: #0e0e0e
}