.dropbtn {
    background-color: #3c8dbc;
    color: white;
    padding: 19px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

    .dropbtn:hover, .dropbtn:focus {
        background-color: #2980B9;
    }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #367fa9;
    color: white;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        width: 200px;
    }

.dropdown a:hover {
}

.show {
    display: block;
}

.dropdown-content a:hover {
    background-color: #1377da;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #367fa9;
}

.rr {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: black;
    white-space: nowrap;
}

    .rr:hover {
        background-color: #eee;
        color: black;
    }

.bangtin {
    float: right;
    margin-left: 10px;
}

.thongbao {
    width: 300px;
    top: 30px;
}

.hienthibangtin {
    float: right;
    margin-left: 15px;
}

h3 a {
    background-color: white;
}

#logo {
    height: 60px;
    font-size: 20px;
    background-color: #3c8dbc;
    color: white;
    width: 230px;
    text-align: center;
    float: left;
    border: none;
    cursor: pointer;
}

.dropct {
    position: absolute;
}

#logo:hover, #logo:focus {
    background-color: #2980B9;
}

.abc {
    color: black;
}

.chuphinh {
    background-color: #767676;
    color: white;
    text-shadow: none;
    background-image: none;
    border-radius: 20px;
    padding: 11px;
    font-size: 18px;
}

    .chuphinh:hover {
        color: white;
        background-color: #7676769e;
    }

.chamcong {
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border-radius: 20px;
    border: none;
    background: cornflowerblue;
    color: white;
    font-weight: 700;
    line-height: 4em;
    text-align: center;
}

    .chamcong:hover {
        background-color: #6764ed;
    }

.ls {
    color: #777;
}

    .ls:hover {
        color: black;
        cursor: pointer;
    }

.maychamcong {
    background-color: #F2711C;
    color: white;
    text-shadow: none;
    background-image: none;
    border-radius: 20px;
    padding: 6px;
}

    .maychamcong:hover {
        cursor: pointer;
        background-color: #ff6a00;
    }

.nutchamcong {
    background-color: #555;
    color: white;
    text-shadow: none;
    background-image: none;
    border-radius: 20px;
    padding: 6px;
}

    .nutchamcong:hover {
        background-color: black;
        cursor: pointer;
    }

.filterbar {
    background: #eee;
    padding: 10px 15px;
    margin: 5px;
    border: 1px solid #eee;
}

.filterbarfull {
    position: absolute;
    width: 320px;
    background: #f8f8f8;
    top: 130px;
    z-index: 1;
    padding: 5px;
    border: 3px solid #ddd;
    box-shadow: 4px 4px 8px #ccc;
    border-radius: 0 0 4px 4px;
    border-top-width: 5px;
    margin: -7px 0 0;
}

    .filterbarfull tr td:first-child {
        text-align: right;
    }

    .filterbarfull table {
        font-size: smaller;
    }

.timkiem {
    background-color: #2185D0; /*#1678c2*/
    color: #FFF;
    border: none;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    padding: .78571429em 1.5em;
    margin: 0 .25em 0 0;
    width: 100%;
    border-radius: 20px;
}

    .timkiem:hover {
        background-color: #1678c2;
    }
.ull {
    margin-block-start: 1em;
    padding-inline-start: 40px;
    position: absolute;
    padding-top: 32px;
}
.lii {
    margin-right: 20px;
}
.lt {
    cursor: pointer;
    text-decoration: none;
}
    .lt:hover {
        cursor: pointer;
        text-decoration: none;
    }
.mau {
    color: black;
}
.aa {
    padding-right: 30px;
    color: black;
    cursor: pointer;
}
.ul2 {
    top: 0px;
    transform: translate3d(0px, 26px, 0px);
    width: 354px;
    margin-top: 185px;
}
.kc {
    margin-right: 10px;
}
.texx{
    cursor:pointer;
}
.selectt {
    border-radius: 7px;
}
.haizz {
    cursor: pointer;
    border-radius: 7px;
}
.datee {
    margin-right: 10px;
}
.bor {
    height: 31px;
    width: 221px;
    border-radius: 6px;
    margin-bottom: 12px;
    margin-left: 3px;
    border-style: groove;
}
.nut {
    color: white;
    text-decoration: none;
}
    .nut:hover {
        color: white;
        text-decoration: none;
    }
.coll {
    text-align: center;
    padding-top: 17px;
}
.tong {
    margin-top: -34px;
    margin-left: 453px;
}
.kk {
    float: left;
}
.dro {
    position: relative;
    display: inline-block;
}
.menuu {
    width: 200px;
}
.li2 {
    margin-bottom: 10px;
    margin-left: 10px;
}
.meto {
    color: black;
    text-decoration: none;
}
    .meto:hover {
        color: black;
        text-decoration: none;
    }
.ls2 {
    margin-left: 15px;
    text-decoration: none;
}
.ls2:hover{
    color:black;
    text-decoration:none;
}
.att {
    color: white;
    margin-left: -3px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}
    .att:hover {
        color: white;
        text-decoration: none;
    }
.att2 {
    color: white;
    margin-left: 15px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}
    .att2:hover {
        color: white;
        margin-left: 15px;
        padding-left: 20px;
        padding-right: 20px;
        text-decoration: none;
    }
.tong2 {
    display: inline-flex;
    padding-left: 320px;
    padding-top: 20px;
}
.aaa {
    height: 20px;
    width: 20px;
    color: #555;
}
.kk2 {
    margin-right: 6px;
}
.au {
    color: #555;
    text-decoration: none;
}
.au:hover {
    color: #555;
    text-decoration: none;
}
.mau2 {
    height: 48px;
    width: 48px;
    color: #555;
}
.tablee {
    width: 100%;
    color: grey;
    margin-top: 20px;
}
.mg {
    color: black;
}
.shift {
    background: #FFF;
    padding-top: 3px;
    padding-right: 14px;
    border: 2px solid rgba(34,36,38,.15);
    border-radius: 5px;
    font-size: 0.642857rem;
   
}
.kk1 {
    margin-left: 6px;
}
.g {
    text-align: center;
}
.tongg {
    margin-top: -34px;
    margin-left: 466px;
}
.m{
    margin-top:40px;
}
