.dropbtn {
    background-color: #3c8dbc;
    color: white;
    padding: 19px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

    .dropbtn:hover, .dropbtn:focus {
        background-color: #2980B9;
    }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #367fa9;
    color: white;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        width: 200px;
    }

.dropdown a:hover {
}

.show {
    display: block;
}

.dropdown-content a:hover {
    background-color: #1377da;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #367fa9;
}

.bangtin {
    float: right;
    margin-left: 10px;
}

.thongbao {
    width: 300px;
    top: 30px;
}

.hienthibangtin {
    float: right;
    margin-left: 15px;
}

h3 a {
    background-color: white;
}

#logo {
    height: 60px;
    font-size: 20px;
    background-color: #3c8dbc;
    color: white;
    width: 230px;
    text-align: center;
    float: left;
    border: none;
    cursor: pointer;
}

.dropct {
    position: absolute;
}

#logo:hover, #logo:focus {
    background-color: #2980B9;
}

.abc {
    color: black;
}

.chuphinh {
    background-color: #767676;
    color: white;
    text-shadow: none;
    background-image: none;
    border-radius: 20px;
    padding: 11px;
    font-size: 18px;
}

    .chuphinh:hover {
        color: white;
        background-color: #7676769e;
    }

.chamcong {
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border-radius: 20px;
    border: none;
    background: cornflowerblue;
    color: white;
    font-weight: 700;
    line-height: 4em;
    text-align: center;
}

    .chamcong:hover {
        background-color: #6764ed;
    }

.ls {
    color: #777;
}

    .ls:hover {
        color: black;
        cursor: pointer;
    }

.heading {
    background: #f0f0f0;
    border-bottom: 1px solid #eee;
    min-height: 99px;
    margin-bottom: 5px;
}

.headingtabs {
    position: absolute;
    left: 15px;
    bottom: -1px;
}

ul {
    list-style-type: none;
}

.ui.large.breadcrumb {
    font-size: 1.14285714rem;
}

.ui.breadcrumb:first-child {
    margin-top: 0;
}

.heading .breadcrumb {
    padding: 1.1em 1em 0;
}

.ui.breadcrumb {
    font-size: 1rem;
}

.ui.breadcrumb {
    line-height: 1;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

.pull-left {
    float: left;
}

/*calender*/
.anboloc {
    color: #777;
}

    .anboloc:hover {
        color: black;
    }

.timkiem {
    background-color: #2185D0; /*#1678c2*/
    color: #FFF;
    border: none;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    padding: .78571429em 1.5em;
    margin: 0 .25em 0 0;
    width: 100%;
    border-radius: 20px;
}

    .timkiem:hover {
        background-color: #1678c2;
    }

.aa {
    background-color: #F2711C !important;
    border-color: #F2711C !important;
    color: #FFF !important;
    border-radius: 10px;
    padding: 8px;
}

.closee {
    margin: 6px;
    color:white;
}

    .closee:hover {
        color: black;
        cursor: pointer;
    }

table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
}

.sidepanel {
}


    .sidepanel .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
    }
.Shift {
    background-color: #d726ba;
    border-color: #d726ba;
    background-position: -5px 0;
    border-radius: 2px;
    text-align: center;
    height: 30px;
    padding: 3px;
    margin: 3px 3px 0;
    overflow: hidden;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border-width: 3px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-repeat: initial;
    border-style: solid;
}
.tong {
    border-right-style: inset;
}
.hh {
    color: #777;
}
.an {
    float: right;
}
.divv {
    height: 585px;
    overflow: hidden;
    outline: none;
    display: block;
}
.divv2 {
    margin-bottom: 15px;
}
.office {
    color: #777;
}
.all {
    color: black;
    cursor: pointer;
}
.history {
    font-size: 20px;
    margin: 6px;
    color: black;
    text-decoration: none;
}
    .history:hover {
        color: black;
        text-decoration: none;
    }
.tong2 {
    padding: 20px;
    min-height: 625px;
    height: 550px;
}
.tongg {
    font-size: 28px;
    float: left;
}
.ben {
    float: right;
}
.ben2 {
    float: left;
}
.but {
    border: none;
    background: #E0E1E2;
    color: rgba(0,0,0,.6);
    margin-right: -8px;
    width: 42px;
    height: 28px;
    font-size: 20px;
    border-radius: 5px;
}
.m {
    float: right;
    margin-left: 8px;
}
.tb {
    width: 100%;
}
.tablee {
    margin-top: 20px;
    margin-bottom: 0;
    background-color: #E0E1E2;
    color: rgba(0,0,0,.87);
    overflow: scroll;

}
.datee {
    color: #666;
    text-align: center;
}
.Shift2 {
    text-align: center;
}
.rong {
    height: 360px;
}
.tablee2 {
    margin-top: 20px;
    margin-bottom: 0;
    background-color: #E0E1E2;
    color: rgba(0,0,0,.87);
}
.work {
    text-decoration: none;
    color: white;
}
    .work:hover {
        text-decoration: none;
        color: white;
    }
.ha {
    border-radius: 20px;
}
.ab {
    border: none;
    background: #E0E1E2;
    color: rgba(0,0,0,.6);
    margin-right: -8px;
    width: 42px;
    height: 28px;
    font-size: 20px;
    border-radius: 5px;
}
.ab2 {
    border: none;
    background: #E0E1E2;
    color: rgba(0,0,0,.6);
    width: 42px;
    height: 28px;
    font-size: 20px;
    border-radius: 5px;
}
.but2 {
    border: none;
    border-radius: 17px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.but3 {
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}

